body{background: #0f3a5d;margin:0px;padding:0px;width:100%;height:100%;font-family: arial;}
html{margin:0px;padding:0px; width:100%; height:100%;}
ul,li,p,h1,h2,h3,h4,h5,h6{list-style:none;margin:0px;padding:0px;}
a{text-decoration:none !important;}
*:focus{outline:none;}

.logo{
	float:left;
	width: 246px;
	margin-left:calc(50% - 150px);
	margin-top: 12%;
}
.logo img{
	float:left; width:80px; height:auto;
}
.logo .altmetin {
    float: right;
    width: 57%;
    text-align: right;
    font-weight: bold;
    color: #b9b9b9;
}
.logo span{
	float:left;
	margin-top: 28px;
	color:#fff;
	margin-left: 16px;
	font-size: 21px;
}
.formkutusu{
	float:left;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 25px;
}
l{
	float:left;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 25px;
}
.formkutusu .form input.site {
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 300px;
    margin-left: calc(50% - 200px);
}
.formkutusu .form input.formbtn {
    float: left;
    padding: 10px;
    border: none;
    margin-left: -3px;
    border-radius: 3px;
}
.formkutusu .aciklama{
	float:left; width:100%; text-align:center; font-size:22px; color:#fff; margin-top:20px;
}